<h1>Formulaire de contact des bulleurs toulonnais</h1>
<hr />

<%= prenom %> <%= nom %> vous à contacté.

<br />
Email de contact : <%= email %>
<br />
Téléphone : <%= telephone %>

<br />
Message :
<hr />
<%= message %>
